@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<body style="background-image: linear-gradient(57deg, #FFFFFF, #87CEEB);">
<h1>@ViewData["Title"]</h1>
<br /> 
<p style="font-size:larger;font-weight:bold;">Information Compiled</p>
<p>The Internet Protocol (IP) address of the machine being used; web pages requested; referring web page; browser used; date and time; and statistics identifying specific IP addresses from which our websites are viewed are all collected by the Information Security Office web servers. This information is not linked to specific user identities, according to ISO.</p>
<br />
<p style="font-size:larger;font-weight:bold;">Cookies Are Used for Analytics</p> 
<p>To better understand how visitors use our site, we employ a third-party analytics source (Google Analytics). We use this data to improve the quality of our content and your overall experience on our site. Cookies are used by Google Analytics to generate this data. These cookies do not collect personally identifying information, and Google Analytics is banned from combining, matching, or cross-referencing data from our site with any other data. We've also chosen not to have your complete IP address stored by Google Analytics (a function known as "IP masking").</p>
</body>
